# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\rep\HW_HTML_parser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
